In [2]:
# first - save cleaned df as csv in other notebook

In [ ]:
instead of zip, grouping should be by worst 100/not
target is number of arrests (or percent) instead of value

In [7]:
#for math and data structure
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error


#for modeling
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller

#for visualizations
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv('ISR_data_clean_TS.csv',low_memory=False)
df.head()

,CONTACT_TYPE_CD,CONTACT_HOUR,JUVENILE_I,NAME_VERIFIED_I,CREATED_DATE,AGE,SEX_CODE_CD,RACE_CODE_CD,BUILD_CODE_CD,EYE_COLOR_CODE_CD,...,SEARCH_CANNABIS_I,SEARCH_OTHER_CON_SUB_I,EVENT_ASSIGNEED_BY_CD,BODY_CAMERA_I,CAR_CAMERA_I,INFORMATION_REFUSED_I,GANG_OTHER_I,ENFORCEMENT_TYPE_CD,ALCOHOL_I,HIGHEST_100_OFFICERS
0,1,0,0,0,01-JAN-2018 01:46,30.0,1,8,3,2,...,0,0,0,1,0,0,1,NaN,0,0
1,1,0,0,0,01-JAN-2018 01:35,20.0,1,8,3,2,...,0,0,0,1,0,0,0,NaN,0,0
2,1,0,0,0,01-JAN-2018 01:35,23.0,1,8,3,2,...,0,0,0,1,0,0,1,NaN,0,0
3,1,0,0,1,01-JAN-2018 01:01,23.0,1,8,0,2,...,0,0,3,0,0,0,0,NaN,0,0
4,1,0,0,1,01-JAN-2018 01:36,27.0,1,1,4,2,...,0,0,3,1,0,0,0,NaN,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288931 entries, 0 to 288930
Data columns (total 51 columns):
CONTACT_TYPE_CD                  288931 non-null int64
CONTACT_HOUR                     288931 non-null int64
JUVENILE_I                       288931 non-null int64
NAME_VERIFIED_I                  288931 non-null int64
CREATED_DATE                     288931 non-null object
AGE                              288931 non-null float64
SEX_CODE_CD                      288931 non-null int64
RACE_CODE_CD                     288931 non-null int64
BUILD_CODE_CD                    288931 non-null int64
EYE_COLOR_CODE_CD                288931 non-null int64
HAIR_COLOR_CODE_CD               288931 non-null int64
HAIR_STYLE_CODE_CD               288931 non-null int64
COMPLEXION_CODE_CD               288931 non-null object
ZIP_CD                           288931 non-null object
AREA                             288931 non-null int64
VEHICLE_INVOLVED_I               288931 non-null int64
NUMBER_OF_PERSONS_DISPERSED      288931 non-null float64
GANG_LOOKOUT_I                   288931 non-null int64
GANG_SECURITY_I                  288931 non-null int64
INTIMIDATION_I                   288931 non-null int64
SUSPECT_NARCOTIC_ACTIVITY_I      288931 non-null int64
ENFORCEMENT_ACTION_TAKEN_I       288931 non-null object
INDICATIVE_DRUG_TRANSACTION_I    288931 non-null int64
INDICATIVE_CASING_I              288931 non-null int64
FITS_DESCRIPTION_I               288931 non-null int64
PROXIMITY_TO_CRIME_I             288931 non-null int64
FITS_DESCRIPTION_OFFENDER_I      288931 non-null int64
GANG_NARCOTIC_RELATED_I          288931 non-null int64
OTHER_FACTOR_I                   288931 non-null int64
PAT_DOWN_I                       288931 non-null int64
PAT_DOWN_CONSENT_I               288931 non-null int64
PAT_DOWN_RECEIPT_GIVEN_I         288931 non-null int64
VERBAL_THREATS_I                 288931 non-null int64
KNOWLEDGE_OF_PRIOR_I             288931 non-null int64
ACTIONS_INDICATIVE_VIOLENCE_I    288931 non-null int64
VIOLENT_CRIME_I                  288931 non-null int64
SUSPICIOUS_OBJECT_I              288931 non-null int64
OTHER_REASONABLE_SUSPICION_I     288931 non-null int64
WEAPON_OR_CONTRABAND_FOUND_I     288931 non-null int64
SEARCH_I                         288931 non-null int64
SEARCH_CONSENT_I                 288931 non-null int64
SEARCH_CANNABIS_I                288931 non-null int64
SEARCH_OTHER_CON_SUB_I           288931 non-null int64
EVENT_ASSIGNEED_BY_CD            288931 non-null int64
BODY_CAMERA_I                    288931 non-null int64
CAR_CAMERA_I                     288931 non-null int64
INFORMATION_REFUSED_I            288931 non-null int64
GANG_OTHER_I                     288931 non-null int64
ENFORCEMENT_TYPE_CD              67239 non-null object
ALCOHOL_I                        288931 non-null int64
HIGHEST_100_OFFICERS             288931 non-null int64
dtypes: float64(2), int64(44), object(5)
memory usage: 112.4+ MB

In [11]:
df.ENFORCEMENT_TYPE_CD.value_counts()

ARR     34882
OTH     16964
ANOV    12262
PSC      3131
Name: ENFORCEMENT_TYPE_CD, dtype: int64

In [12]:
df['ENFORCEMENT_TYPE_CD'] = np.where(df['ENFORCEMENT_TYPE_CD'] == 'ARR', 1, 0)
df.ENFORCEMENT_TYPE_CD.value_counts()

0    254049
1     34882
Name: ENFORCEMENT_TYPE_CD, dtype: int64